<!-- templates/info.html -->
{% extends "base.html" %}
{% block content %}

    <div class='jumbotron'>
        <h1>The Beer Recommendation App</h1>
        <p>This is the the final product of a project that began with my senior capstone. I was tasked with
                building a recommendation engine that made recs based on a user's consumption history. I ended
                up with a back end engine written in that worked with simulated data and a Tkinter GUI. After
                graduation I decided to develop a front end utilizing a Flask framework and publish a web app 
                that recommends Seattle local beers. 
        </p>
    </div>

{% endblock %}


