<!-- templates/item.html -->
{% extends "base.html" %}
{% block content %}

<div class='jumbotron'>
    <h1>Add a Beer to the Database</h1>
</div>

<div class='container'>
    <form method="POST" action="" enctype="multipart/form-data">
        
        {{form.hidden_tag()}}
        
        <div class='form-group'>
            {{form.location.label(class='form-group')}}
            {{form.location(class='form-control')}}
        </div>
        
        <div class='form-group'>
            {{form.name.label(class='form-group')}} 
            {{form.name(class='form-control')}}
        </div>

        <div class='form-group'>
            {{form.style.label(class='form-group')}} 
            {{form.style(class='form-control')}}
        </div>

        <div class='form-group'>
            {{form.abv.label(class='form-group')}} 
            {{form.abv(class='form-control')}}
        </div>

        <div class='form-group'>
            {{form.ibu.label(class='form-group')}} 
            {{form.ibu(class='form-control')}}
        </div>

        <div class='form-group'>
            {{form.submit(class='btn btn-secondary')}}
        </div>
                
        <div class='form-group'>
                    Upload a csv file: <input type='file' name='file'>
                    <input type='submit' value='Upload'>
                </div>
    </form>
</div>

{% endblock %}

