{% extends "base.html" %}
{% block content %}

<form method="POST">
    {{form.hidden_tag()}}
    {{form.zone.label}} {{form.zone}} <br>
    {{form.location.label}} {{form.location}} <br>
    {{form.item.label}} {{form.item}} <br>
    {{form.submit()}}
</form>
<script>
    let zone_select = document.getElementById('zone');
    let location_select = document.getElementById('location');
    let item_select = document.getElementById('item');

    
   zone_select.onchange = function () {
            zone = zone_select.value;
            alert(zone)
        }
    
    location_select.onchange = function(){
            location = location_select.value;
            alert(location)
        }
        
        //     fetch('/location/' + zone).then(function(response) {
            
            //         response.json().then(function(data) {
                //             let optionHTML = '';
                
                //             for (let location of data.locations) {
                    //                 optionHTML += '<option value="' + location.id + '">' + location.name + '</option>';
                    //             }
                    
                    //             location_select.innerHTML = optionHTML;
                    
                    //         });
                    //     });
                    // }
                    
                    // location_select.onchange = function() {
                        //     location = location_select.value;
                        //     alert(location)
                        
                        // fetch('/item/' + location).then(function (response) {
                            
                            //     response.json().then(function (data) {
                                //         let optionHTML = '';
                                
                                //         for (let item of data.items) {
                                    //             optionHTML += '<option value="' + item.id + '">' + item.name + '</option>';
                                    //         }
                                    
                                    //         item_select.innerHTML = optionHTML;
                                    
                                    //     });
                                    // });
         //}
    item_select.onchange=function(){
        item=item_select.value;
        alert(item)
    }
 </script>
{% endblock %}